body {
    display: flex;
    width: 100%;
    margin: 0px;
    padding: 0px;
    flex-direction: column;
}

* {
    margin: 0px;
    padding: 0px;
}

#header_contain {
    display: flex;
    width: 100%;
    flex-direction: column;
}

#header_fade {
    display: flex;
    width: 100%;
    flex-direction: column;
}

#header_fixed {
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    width: 100%;
    flex-direction: column;
}

.header_top {
    background-color: pink;
    height: 90px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.header_top_sub_menu {
    background-color: yellow;
    display: flex;
    width: 100%;
}

#header_top_society {
    display: flex;
    width: 300px;
    height: 60px;
    flex-direction: row;
    /* background-color: red; */
    margin-left: 50px;
    justify-content: space-between;
}

#header_top_society_logo {
    display: flex;
    width: 60px;
    height: 60px;
    background-image: url('../img/logo_img_wns.png');
    background-size: contain;
}

#header_top_society_name {
    display: flex;
    width: 250px;
    height: 60px;
    /* background-color: green; */
    background-image: url('../img/logo_txt_wns.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}



#header_top_connect {
    display: flex;
    width: 550px;
    /* background-color: red; */
    height: 60px;
    margin-right: 50px;
    align-items: center;
}

#header_connect {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}
#insert_login {
    display: flex;
    width: 120px;
    height: 20px;
    margin: 0px;
    padding: 0px;
}
#insert_password {
    display: flex;
    width: 120px;
    height: 20px;
    margin: 0px;
    padding: 0px;
}
.insert {
    display: flex;
    margin: 0px;
    padding: 0px;
}
.button {
    display: flex;
    width: 120px;
    height: 20px;
    margin: 0px;
    padding: 0px;
}

#remplissage {
    background-color: #123654;
    height: 1900px;
    display: flex;
    width: 100%;
}